{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "useBuiltIns": "usage" }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
    ["import", {
  		"libraryName": "antd",
  		"style": true,
    }]
  ]
}
