#app-layout {
  height: 100vh;

  > header {
    line-height: 48px;
    height: 48px;

    .logo {
      float: left;
      margin-right: 50px;

      > img {
        padding: 4px;
        width: auto;
        height: 48px;
        cursor: pointer;
        margin-top: -8px;
      }
    }

    .app-menu {
      line-height: 48px;
      height: 48px;
    }
  }

  > main {
    padding: 24px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  > footer {
    padding: 12px 50px;
    background: rgba(0, 0, 0, 0.15);
  }
}
